<!-- Main content -->

  <!-- Page header -->
  <div class="page-header">
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="icon-home2 position-left"></i> Dashboard</a></li>
        <!-- <li><a href="new_order.html">New Order</a></li> -->
        <li class="active">Profile</li>
      </ul>
    </div>
  </div>
  <!-- /page header -->


  <!-- Content area -->
  <div class="content">

    <!-- Profile info -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h3 class="panel-title text-bold">Personal Information</h3>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <form action="#">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
                <input type="text" value="Caryl" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Surname</label>
                <input type="text" value="Akonor" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
                <input type="text" readonly="readonly" value="cjay@truckrtech.com" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Phone #</label>
                <input type="text" readonly="readonly" value="+233-5048-2341" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Upload profile image</label>
                <input type="file" class="file-styled">
                <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>

              </div>
            </div>
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /Personal Profile info -->

    <!-- Business Profile info -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h3 class="panel-title text-bold">Business Information</h3>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <form action="#">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Business Name</label>
                <input type="text" value="Cjay" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Job Title</label>
                <input type="text" value="Cjay Akonor" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Address line 1</label>
                <input type="text" value="No. 20 Aluguntugui Street" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Address line 2</label>
                <input type="text" value="East-legon" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>City</label>
                <input type="text" value="Accra" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Region</label>
                <input type="text" value="Gt. Accra" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Business Email</label>
                <input type="text" readonly="readonly" value="cjay@truckrtech.com" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Your country</label>
                <select class="form-control" readonly="readonly">
                  <option value="germany" selected="selected">Ghana</option> 
                  <option value="france">Nigeria</option> 
                  <option value="spain">Burkina faso</option> 
                  <option value="netherlands">Cote D'Ivoire</option> 
                  <option value="uk">Togo</option>
                  <option value="uk">Benin</option> 
								</select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Office Phone #</label>
                <input type="text" readonly="readonly" value="+233-5048-2341" class="form-control">
              </div>
            </div>
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- /profile info -->

    <!-- Account settings -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h3 class="panel-title text-bold">Change Password</h3>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <form action="#">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
                <input type="text" value="Cjay" readonly="readonly" class="form-control">
              </div>

              <div class="col-md-6">
                <label>Current password</label>
                <input type="password" value="password" readonly="readonly" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>New password</label>
                <input type="password" placeholder="Enter new password" class="form-control">
              </div>

              <div class="col-md-6">
                <label>Repeat password</label>
                <input type="password" placeholder="Repeat new password" class="form-control">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <div class="col-md-6">
                  <label>Notifications</label>
                  <div class="checkbox">
                    <label><input type="checkbox" class="styled" checked="checked">
                        Driver match notification
                    </label>
                  </div>

                  <div class="checkbox">
                    <label><input type="checkbox" class="styled" checked="checked">
                      New message notification
                    </label>
                  </div>

                  <div class="checkbox">
                    <label><input type="checkbox" class="styled">
                      Delivery notification
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
            </div>
          </div>
        </form>
      </div>
      <!-- /account settings -->

      <!-- Modal HTML -->
      <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <div class="icon-box">
                <i class="material-icons">&#xE876;</i>
              </div>
              <h4 class="modal-title">Payment Successful!</h4>
            </div>
            <div class="modal-body">
              <p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success btn-block"><a href="index.html" target="_blank" style="color:white">OK</a></button>
            </div>
          </div>
        </div>
      </div>

      <!-- /content area -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /footer -->
    </div>
    <!-- /content area -->

  </div>
<!-- /main content -->
